
:root {
  --primary-text-color: #4d4c4c;
  --title-text-color: #212121;
  --accent-color: #e2f103;
  --second-accent-color: #5c0248;
  --first-accent-color: #b118d8;
  --primary-bg-color: #e5e5e5;
  
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-bg-color);
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: var(--primary-bg-color);
  margin: 40 px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main contact-sections */
.main-content-section {
  padding: 100px 90px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
/* about-me-sections */
.about-me-sections {
  margin: 0 0 40px 0;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 20px 0;
  color: var(--title-text-color);
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 25px 0;
  color: var(--second-accent-color);
}
.about-me-discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 600px;
  color: var(--primary-text-color);
}
/* my-projects-sections */
.my-projects-section {
  margin: 0 0 50px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
  color: var(--second-accent-color);
}
.my-projects-item {
  font-weight: bold;
  color:var(--second-accent-color);
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color)
}
.my-projects-text {
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color)
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--first-accent-color)
}
/* my-work-experience */
.my-work-experience-company {
  color: var(--second-accent-color);
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 10px 0;
  color: var(--primary-text-color)
}
.my-work-experience-divider {
  font-weight: normal;
  color: var(--title-text-color)
}
.my-work-experience-duties {
  padding: 0 50px 0 18px;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color)
}
.my-work-experience-company-block {
  margin: 0 0 15px 0;
}
/* my-education */
.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 10px 0;
  color: var(--primary-text-color)
}
.my-education-divider {
  font-weight: normal;
  color: var(--title-text-color)
}

/* sidebar-sections */
.sidebar-sections {
  display: block;
  background-image: linear-gradient(
    to bottom, white , var(--second-accent-color) 20%);
  width: 370px;
  padding: 40px;
}
.with-img {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  
  display: inline-flex;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  
}

.contacts-section .tech-skills-section .soft-skills-section {
  margin: 50px;
  
}
.sidebar-title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color:var(--primary-bg-color);
  margin-bottom: 10px;
}
/* contacts-sections */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-bg-color);
  margin-right: 5px;
}
.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--accent-color)
}
/* tech & soft-skills-sections */
.tech-skills-list,
.soft-skills-list {
  padding: 0 0 0 17px;
}
.tech-skills-item,
.soft-skills-item {
  color: var(--accent-color)
}
.tech-skills-item-text,
.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color:var(--primary-bg-color)
}
